{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>ChapinChat</h1>
                <nav>
                    <a href="{% url 'Dashboard' %}">Comenzar</a>
                </nav>
            </div>
        </div>
        <section class="banner contenedor">
            <section class="banner_title">
                <h2>La nueva red <br> está aquí!</h2>
                <a href="{% url 'Dashboard' %}" class="comenzar">Comenzar!</a>
            </section>
            <div class="banner_img">
                <img src="{% static 'chapin2.png' %}" alt="Banner">
            </div>
        </section>
        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
</body>
</html>